body {
  font-family: 'Nova Square', cursive;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bungee';
}

h1 {
  line-height: 150%;
  /*tamaño de la letra*/
  font-size: 200%;
  /*espacio de las letras*/
  letter-spacing: -1px;
  color: white;
}

h1 strong {
  color: rgb(0, 4, 255);
}

.header {
  background-color: rgb(10, 10, 10);
  color: white;
}

.header a {
  color: white;
  text-decoration: none;
}

.banner {
  height: 380px;
  background-image: url(../img/fondo_1.png);
  background-color: rgb(10, 10, 10);
  background-size: 680px 380px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.formations {
  width: 500px;
}

.ability {
  width: 500px;
}